<section class="sidebar">
    <div class="sidebar__header">
        <img src="https://www.monsterbacklinks.com/pics/319222-1IvI0s1421931178.png" 
            alt="My Avatar"
            mat-card-avatar>
        <div class="sidebar__header__icons">
            <button mat-icon-button>
                <mat-icon>donut_large</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>chat</mat-icon>
            </button>
            <button mat-icon-button [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Logout</button>
            </mat-menu>
        </div>
    </div>

    <div class="sidebar__search">
        <div class="sidebar__search__content">
            <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
                <button mat-mat-icon-button class="sidebar__search__content__icon">
                    <mat-icon>search_outline</mat-icon>
                </button>
                <input type="text" name="search" class="sidebar__search__content__input" ngModel placeholder="Search or Start A New Chat">
                <button type="submit" style="display: none;"></button>
            </form>
        </div>
    </div>

    <div class="sidebar__content">
        <ng-container>
            <app-side-bar-content></app-side-bar-content>
        </ng-container>
    </div>
</section>