<section class="chat">
    <div class="chat__header">
        <img src="https://avatars.dicebear.com/api/avataaars/uaasss.svg" alt="avatar" mat-card-avatar>

        <div class="chat__header__room-name">
            <h4>{{ 'room name' }}</h4>
        </div>

        <div class="chat__header__right">
            <button mat-icon-button>
                <mat-icon>search_outline</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="file">attach_file</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </div>

    <div class="chat__body">
        <router-outlet></router-outlet>
    </div>

    <div class="chat__footer">
        <button>
            <mat-icon>mood</mat-icon>
        </button>
        <form #form="ngForm" (ngSubmit)="onFormSubmitted(form)">
            <input type="text" class="chat__footer__send-message" placeholder="Type a message" ngModel>
            <button type="submit" style="display: none;"></button>            
        </form>
        <button>
            <mat-icon>mic</mat-icon>
        </button>
    </div>
</section>