<div class="chat__room">
    <ng-container>
        <div 
            class="chat__room__message"
            [ngClass]="{'chat__room__message-owner': true}">
            <span class="chat__room__message__name">Muhammad Rizki</span>
            <span class="chat__room__message__text">Guten Tag!</span>
            <span class="chat__room__message__time">14:35</span>
        </div>
    </ng-container>

    <ng-template>
        <h1 style="text-align: center;">No Messages</h1>
    </ng-template>
</div>